.personal {
    background-color: black;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.personal, h1, li{
    color: white;
}

.funtext {
    margin-right: 50%;
    order: 1;
}
img {
    order: 2;
    float: right;
}
