:root {
  --brightpurp: rgb(67, 0, 129);
  --darkpurp: rgb(42, 0, 81);
  --backpurp: rgb(13, 0, 24);
}

.navbar {
  list-style-type: none;
  margin-left: -10px;
  width: 100%;
  overflow: hidden;
  background-color: var(--brightpurp);
  font-size: 25px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.navbar ul {
  margin: 0px;
  padding: 0px;
}

.navbar li {
  float: left;
  list-style-type: none;
}

.navbar li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
}

.navbar li a:hover, .thispage, .sidenav a:hover {
  background-color:var(--darkpurp);
}

.sidenav {
  height: 100%;
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--brightpurp);
  overflow-x: hidden;
  padding-top: 55px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
}

body {
    background-color: var(--backpurp);
    font-family: monospace;
    color: white;
}

main {
  margin-left: 130px;
  margin-top: 60px;
  font-size: 20px;
  text-align: center;
  margin-left: 19%;
  margin-right: 10%;
  list-style-position: inside;
}

main a {
  color: aqua;
}

.nametext {
  font-size: 60px;
}

/* ------------------- voor de Blog -------------------------- */


.bloglayout a {
  color: white;
  text-decoration: none;
}

.bloglayout p {
  padding-bottom: 10px;
}

.blogpost:hover {
  background-color: var(--brightpurp);
}

.blogpost {
  background-color: var(--darkpurp);
}


/* ------------------ voor de Index  --------------------------------*/

@keyframes hzspin{
  0% {transform: rotate(0deg)}
  100% {transform: rotate(46080deg)}
}

.hzlogo {
  animation: hzspin;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.tinytext {
  font-size: 10px;
  color: gray;
}



/* ------------------- voor de Profile -----------------------------------*/

.links {
  margin-top: -25px;
}

/* -------------------- voor de Dashboard --------------------------------- */


th, td {
  padding: 4px;
  border: 3px solid  var(--backpurp);
}

td {
  background-color: var(--darkpurp);
}

th {
  font-size: 25px;
  background-color: var(--brightpurp);
}

.failgrade {
  background-color: rgb(98, 0, 0);
}

.nograde {
  background-color: rgb(86, 56, 0);
}

.passgrade {
  background-color: rgb(0, 87, 0);
}
